:root {
  --color-blue: #0D6EFD;
  --color-orange: #FF9017;
  --color-white: #FFFFFF;
  --color-dark: #1C1C1C;
  --color-grey: #505050;
  --color-grey-600: #606060;
  --color-grey-500: #8B96A5;
  --color-grey-300: #DEE2E7;
  --color-grey-200: #EFF2F4;
  --color-light-grey: #BDBDBD;
  --color-red: #FF0000;



}