/*Below 1024ox*/
@media (max-width: 1024px) {

  .brand-info,
  .header .search {
    display: none;
  }

  .item-container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .pagination {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .header .user-container {
    display: none;
  }

  .sort-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2.4rem;
  }

  .footer-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2.4rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 2.4rem;
  }

  .item-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .item-img {
    margin: 0 auto;
  }

  .apps-colums {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1000;
  }

  .burger-menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .pagination {
    display: none;
  }

  .contact-section {
    margin-top: 10.7rem;
  }
}

@media (max-width: 520px) {
  .header .logo {
    width: 10rem;
    height: auto;
  }

  .burger-menu {
    width: 60%;
  }

  .sort-wrapper-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2.4rem;
  }

  .contact-section {
    margin-top: 5.7rem;
  }

  .contact-section .contact-text h3 {
    font-size: 1.6rem;
  }

  .contact-section .contact-text p {
    font-size: 1.4rem;
  }

  .subscribe-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-column p,
  .footer-container p,
  .footer-column ul li {
    font-size: 1.4rem;
  }

}